In [55]:
import pandas as pd
import numpy as np

In [2]:
import warnings

warnings.filterwarnings(action="ignore")

In [24]:
df = pd.read_csv("kbo_batter_stat.csv")

In [25]:
df

,이름,팀,WAR,출장,타석,타수,득점,안타,2루타,3루타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
0,로하스,20KRF,7.80,142,628,550,116,192,39,1,...,0,8,.349,.417,.680,1.097,.467,180.8,7.80,7.29
1,김하성,20키SS,6.87,138,622,533,111,163,24,1,...,3,3,.306,.397,.523,.921,.407,147.4,6.87,4.22
2,양의지,20NC,5.95,130,528,461,86,151,26,1,...,1,6,.328,.400,.603,1.003,.432,153.3,5.95,3.68
3,터커,20KRF,5.70,142,631,542,100,166,40,0,...,0,4,.306,.398,.557,.955,.420,148.9,5.70,2.40
4,최형우,20KDH,5.70,140,600,522,93,185,37,1,...,0,3,.354,.433,.590,1.023,.450,168.4,5.70,7.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,이성열,20한DH,-0.93,79,248,227,23,46,5,0,...,0,0,.203,.270,.330,.601,.277,57.5,-0.93,-1.13
369,김규성,20K2B,-1.01,103,182,157,21,28,2,1,...,11,0,.178,.246,.261,.507,.226,21.0,-1.01,-1.85
370,김태진,20NK3B,-1.03,82,280,263,28,62,5,1,...,2,1,.236,.273,.274,.547,.258,41.9,-1.03,-0.57
371,박찬호,20KSS,-1.15,141,530,479,63,106,16,0,...,12,3,.221,.274,.273,.548,.254,39.9,-1.15,-1.96
372,정보근,20롯C,-1.18,85,152,133,9,20,2,0,...,6,1,.150,.219,.165,.385,.187,-3.9,-1.18,-1.76

In [26]:
df["팀"].unique()

array(['20KRF', '20키SS', '20NC', '20KDH', '20키RF', '20LLF', '20K3B',
       '20NDH', '20롯RF', '20S3B', '20K1B', '20두LF', '20LSS', '20두DH',
       '20N2B', '20S1B', '20L1B', '20NCF', '20N3B', '20두2B', '20LCF',
       '20두RF', '20두1B', '20두3B', '20KCF', '20삼LF', '20NSS', '20삼2B',
       '20롯SS', '20KLF', '20롯LF', '20삼C', '20두CF', '20LC', '20한C',
       '20키2B', '20LRF', '20롯CF', '20삼CF', '20롯3B', '20K2B', '20키C',
       '20KC', '20한CF', '20키DH', '20삼DH', '20롯2B', '20두SS', '20NRF',
       '20키CF', '20키1B', '20두C', '20N1B', '20NLF', '20키LF', '20삼3B',
       '20한1B', '20SRF', '20롯DH', '20L3B', '20롯1B', '20롯C', '20한2B',
       '20SCF', '20SDH', '20한3B', '20한SS', '20KSLF', '20키3B', '20두K3B',
       '20S2B', '20삼SS', '20SSS', '20LDH', '20한RF', '20한LF', '20삼1B',
       '20S한CF', '20N', '20삼RF', '20K', '20두SC', '20두', '20L2B', '20키',
       '20SLF', '20한P', '20SC', '20SP', '20LP', '20삼P', '20KP', '20롯P',
       '20두P', '20NP', '20키P', '20L', '20삼', '20한DH', '20KSS', '20SKC',
       '20KK2B', '20NK3B'], dtype=object)

In [27]:
df_SL_B = df[df["팀"].str.contains("20삼")]
df_SL_B.head(10)

,이름,팀,WAR,출장,타석,타수,득점,안타,2루타,3루타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
26,구자욱,20삼LF,3.35,118,510,446,70,137,27,2,...,1,4,.307,.385,.478,.863,.387,125.9,3.35,4.53
28,김상수,20삼2B,3.25,120,471,404,71,123,18,3,...,2,2,.304,.397,.401,.798,.372,118.1,3.25,0.76
32,강민호,20삼C,3.00,119,393,355,46,102,14,0,...,0,3,.287,.349,.487,.836,.370,112.6,3.00,0.55
39,박해민,20삼CF,2.48,132,541,489,84,142,18,5,...,7,3,.290,.345,.415,.760,.342,97.8,2.48,-0.11
48,김동엽,20삼DH,2.21,115,451,413,60,129,21,0,...,1,4,.312,.360,.508,.869,.385,122.8,2.21,1.59
59,살라디노,20삼LF,1.35,44,163,132,26,37,8,0,...,0,1,.280,.411,.477,.888,.405,136.3,1.35,0.53
62,이원석,20삼3B,1.27,121,467,403,46,108,17,0,...,1,12,.268,.341,.407,.748,.338,93.7,1.27,0.22
66,김호재,20삼3B,1.11,65,138,118,19,38,5,0,...,1,0,.322,.416,.390,.806,.381,124.0,1.11,0.03
85,강한울,20삼SS,0.55,34,122,105,13,32,3,0,...,5,1,.305,.368,.362,.729,.330,90.8,0.55,0.45
89,최영진,20삼3B,0.50,58,118,101,15,30,3,0,...,1,1,.297,.385,.356,.741,.351,104.0,0.50,-0.70

In [28]:
df_SL_B["포지션"] = df_SL_B["팀"].str.slice(3,).copy()
df_SL_B.head(10)

,이름,팀,WAR,출장,타석,타수,득점,안타,2루타,3루타,...,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA,포지션
26,구자욱,20삼LF,3.35,118,510,446,70,137,27,2,...,4,.307,.385,.478,.863,.387,125.9,3.35,4.53,LF
28,김상수,20삼2B,3.25,120,471,404,71,123,18,3,...,2,.304,.397,.401,.798,.372,118.1,3.25,0.76,2B
32,강민호,20삼C,3.00,119,393,355,46,102,14,0,...,3,.287,.349,.487,.836,.370,112.6,3.00,0.55,C
39,박해민,20삼CF,2.48,132,541,489,84,142,18,5,...,3,.290,.345,.415,.760,.342,97.8,2.48,-0.11,CF
48,김동엽,20삼DH,2.21,115,451,413,60,129,21,0,...,4,.312,.360,.508,.869,.385,122.8,2.21,1.59,DH
59,살라디노,20삼LF,1.35,44,163,132,26,37,8,0,...,1,.280,.411,.477,.888,.405,136.3,1.35,0.53,LF
62,이원석,20삼3B,1.27,121,467,403,46,108,17,0,...,12,.268,.341,.407,.748,.338,93.7,1.27,0.22,3B
66,김호재,20삼3B,1.11,65,138,118,19,38,5,0,...,0,.322,.416,.390,.806,.381,124.0,1.11,0.03,3B
85,강한울,20삼SS,0.55,34,122,105,13,32,3,0,...,1,.305,.368,.362,.729,.330,90.8,0.55,0.45,SS
89,최영진,20삼3B,0.50,58,118,101,15,30,3,0,...,1,.297,.385,.356,.741,.351,104.0,0.50,-0.70,3B

In [29]:
df_SL_B["팀"] = "삼성 라이온즈"
df_SL_B.head()

,이름,팀,WAR,출장,타석,타수,득점,안타,2루타,3루타,...,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA,포지션
26,구자욱,삼성 라이온즈,3.35,118,510,446,70,137,27,2,...,4,.307,.385,.478,.863,.387,125.9,3.35,4.53,LF
28,김상수,삼성 라이온즈,3.25,120,471,404,71,123,18,3,...,2,.304,.397,.401,.798,.372,118.1,3.25,0.76,2B
32,강민호,삼성 라이온즈,3.00,119,393,355,46,102,14,0,...,3,.287,.349,.487,.836,.370,112.6,3.00,0.55,C
39,박해민,삼성 라이온즈,2.48,132,541,489,84,142,18,5,...,3,.290,.345,.415,.760,.342,97.8,2.48,-0.11,CF
48,김동엽,삼성 라이온즈,2.21,115,451,413,60,129,21,0,...,4,.312,.360,.508,.869,.385,122.8,2.21,1.59,DH

In [30]:
df_SL_B = df_SL_B.reindex(columns=["이름","팀","포지션","WAR","출장","타석","타수","득점","안타","2루타","3루타","홈런","루타","타점","도루","도루실패","볼넷","사구","고4","삼진","병살","희타","희비","타율","출루","장타","OPS","wOBA","wRC+","WAR*","WPA"])
df_SL_B["포지션"].value_counts()

P     5
C     5
LF    4
SS    4
3B    3
2B    3
1B    3
RF    3
CF    2
DH    2
      1
Name: 포지션, dtype: int64

In [33]:
df_SL_B

,이름,팀,포지션,WAR,출장,타석,타수,득점,안타,2루타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
26,구자욱,삼성 라이온즈,LF,3.35,118,510,446,70,137,27,...,1,4,.307,.385,.478,.863,.387,125.9,3.35,4.53
28,김상수,삼성 라이온즈,2B,3.25,120,471,404,71,123,18,...,2,2,.304,.397,.401,.798,.372,118.1,3.25,0.76
32,강민호,삼성 라이온즈,C,3.00,119,393,355,46,102,14,...,0,3,.287,.349,.487,.836,.370,112.6,3.00,0.55
39,박해민,삼성 라이온즈,CF,2.48,132,541,489,84,142,18,...,7,3,.290,.345,.415,.760,.342,97.8,2.48,-0.11
48,김동엽,삼성 라이온즈,DH,2.21,115,451,413,60,129,21,...,1,4,.312,.360,.508,.869,.385,122.8,2.21,1.59
59,살라디노,삼성 라이온즈,LF,1.35,44,163,132,26,37,8,...,0,1,.280,.411,.477,.888,.405,136.3,1.35,0.53
62,이원석,삼성 라이온즈,3B,1.27,121,467,403,46,108,17,...,1,12,.268,.341,.407,.748,.338,93.7,1.27,0.22
66,김호재,삼성 라이온즈,3B,1.11,65,138,118,19,38,5,...,1,0,.322,.416,.390,.806,.381,124.0,1.11,0.03
85,강한울,삼성 라이온즈,SS,0.55,34,122,105,13,32,3,...,5,1,.305,.368,.362,.729,.330,90.8,0.55,0.45
89,최영진,삼성 라이온즈,3B,0.50,58,118,101,15,30,3,...,1,1,.297,.385,.356,.741,.351,104.0,0.50,-0.70
101,이학주,삼성 라이온즈,SS,0.35,64,243,206,30,47,11,...,4,5,.228,.314,.340,.654,.298,67.9,0.35,-0.22
112,이성곤,삼성 라이온즈,1B,0.27,62,154,139,16,39,7,...,2,2,.281,.329,.439,.768,.340,94.5,0.27,-0.23
129,김지찬,삼성 라이온즈,2B,0.12,135,287,254,47,59,5,...,5,2,.232,.301,.272,.573,.272,53.2,0.12,-1.61
130,송준석,삼성 라이온즈,RF,0.12,32,50,47,5,13,5,...,0,0,.277,.320,.447,.767,.345,97.7,0.12,0.19
135,김성윤,삼성 라이온즈,LF,0.08,9,9,7,1,2,1,...,0,0,.286,.444,.429,.873,.414,144.4,0.08,-0.10
154,권정웅,삼성 라이온즈,C,0.02,3,2,1,0,0,0,...,0,0,.000,.500,.000,.500,.367,112.8,0.02,0.00
167,양창섭,삼성 라이온즈,P,0.00,1,0,0,0,0,0,...,0,0,,,,,,,0.00,0.00
192,장지훈,삼성 라이온즈,P,0.00,1,0,0,0,0,0,...,0,0,,,,,,,0.00,0.00
204,김대우,삼성 라이온즈,P,0.00,1,0,0,0,0,0,...,0,0,,,,,,,0.00,0.00
213,홍정우,삼성 라이온즈,P,0.00,1,0,0,0,0,0,...,0,0,,,,,,,0.00,0.00
247,임현준,삼성 라이온즈,P,0.00,1,0,0,0,0,0,...,0,0,,,,,,,0.00,0.00
263,라이블리,삼성 라이온즈,,-0.02,1,1,1,0,0,0,...,0,0,.000,.000,.000,.000,.000,-126.0,-0.02,-0.00
269,김재현,삼성 라이온즈,SS,-0.05,35,18,14,4,2,0,...,1,0,.143,.294,.143,.437,.227,23.1,-0.05,-0.01
285,김도환,삼성 라이온즈,C,-0.08,34,49,41,2,9,2,...,1,2,.220,.292,.268,.560,.262,46.4,-0.08,-0.32
293,김성표,삼성 라이온즈,CF,-0.10,15,8,8,1,1,0,...,0,0,.125,.125,.125,.250,.118,-47.9,-0.10,0.03
299,김민수,삼성 라이온즈,C,-0.12,17,26,23,3,4,0,...,1,0,.174,.240,.174,.414,.201,6.9,-0.12,-0.23
301,백승민,삼성 라이온즈,1B,-0.13,7,12,9,0,0,0,...,0,0,.000,.250,.000,.250,.188,-4.6,-0.13,0.02
307,박찬도,삼성 라이온즈,LF,-0.15,51,116,96,20,21,5,...,2,2,.219,.325,.302,.627,.292,64.6,-0.15,-0.62
329,김응민,삼성 라이온즈,C,-0.23,45,85,76,7,17,1,...,3,0,.224,.281,.237,.517,.245,35.4,-0.23,0.05
336,양우현,삼성 라이온즈,2B,-0.30,7,24,23,0,3,0,...,0,0,.130,.167,.130,.297,.148,-28.0,-0.30,-0.33
337,김헌곤,삼성 라이온즈,RF,-0.31,97,283,254,26,63,8,...,1,3,.248,.312,.315,.627,.295,67.3,-0.31,-1.15
342,박승규,삼성 라이온즈,RF,-0.35,91,196,182,24,47,11,...,4,0,.258,.297,.335,.632,.288,63.1,-0.35,-0.48
359,팔카,삼성 라이온즈,DH,-0.67,51,217,196,17,41,7,...,0,3,.209,.272,.367,.639,.288,59.7,-0.67,-0.64
366,박계범,삼성 라이온즈,SS,-0.92,80,175,164,21,32,7,...,3,1,.195,.227,.293,.519,.233,25.6,-0.92,-0.90
367,이성규,삼성 라이온즈,1B,-0.92,98,245,216,25,39,7,...,4,2,.181,.257,.361,.618,.274,50.1,-0.92,-1.73

In [34]:
df_SL_P = df_SL_B[(df_SL_B["타석"] == 0)|(df_SL_B["타석"] == 1)].index
df_SL_B = df_SL_B.drop(df_SL_P)
df_SL_B

,이름,팀,포지션,WAR,출장,타석,타수,득점,안타,2루타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
26,구자욱,삼성 라이온즈,LF,3.35,118,510,446,70,137,27,...,1,4,.307,.385,.478,.863,.387,125.9,3.35,4.53
28,김상수,삼성 라이온즈,2B,3.25,120,471,404,71,123,18,...,2,2,.304,.397,.401,.798,.372,118.1,3.25,0.76
32,강민호,삼성 라이온즈,C,3.00,119,393,355,46,102,14,...,0,3,.287,.349,.487,.836,.370,112.6,3.00,0.55
39,박해민,삼성 라이온즈,CF,2.48,132,541,489,84,142,18,...,7,3,.290,.345,.415,.760,.342,97.8,2.48,-0.11
48,김동엽,삼성 라이온즈,DH,2.21,115,451,413,60,129,21,...,1,4,.312,.360,.508,.869,.385,122.8,2.21,1.59
59,살라디노,삼성 라이온즈,LF,1.35,44,163,132,26,37,8,...,0,1,.280,.411,.477,.888,.405,136.3,1.35,0.53
62,이원석,삼성 라이온즈,3B,1.27,121,467,403,46,108,17,...,1,12,.268,.341,.407,.748,.338,93.7,1.27,0.22
66,김호재,삼성 라이온즈,3B,1.11,65,138,118,19,38,5,...,1,0,.322,.416,.390,.806,.381,124.0,1.11,0.03
85,강한울,삼성 라이온즈,SS,0.55,34,122,105,13,32,3,...,5,1,.305,.368,.362,.729,.330,90.8,0.55,0.45
89,최영진,삼성 라이온즈,3B,0.50,58,118,101,15,30,3,...,1,1,.297,.385,.356,.741,.351,104.0,0.50,-0.70
101,이학주,삼성 라이온즈,SS,0.35,64,243,206,30,47,11,...,4,5,.228,.314,.340,.654,.298,67.9,0.35,-0.22
112,이성곤,삼성 라이온즈,1B,0.27,62,154,139,16,39,7,...,2,2,.281,.329,.439,.768,.340,94.5,0.27,-0.23
129,김지찬,삼성 라이온즈,2B,0.12,135,287,254,47,59,5,...,5,2,.232,.301,.272,.573,.272,53.2,0.12,-1.61
130,송준석,삼성 라이온즈,RF,0.12,32,50,47,5,13,5,...,0,0,.277,.320,.447,.767,.345,97.7,0.12,0.19
135,김성윤,삼성 라이온즈,LF,0.08,9,9,7,1,2,1,...,0,0,.286,.444,.429,.873,.414,144.4,0.08,-0.10
154,권정웅,삼성 라이온즈,C,0.02,3,2,1,0,0,0,...,0,0,.000,.500,.000,.500,.367,112.8,0.02,0.00
269,김재현,삼성 라이온즈,SS,-0.05,35,18,14,4,2,0,...,1,0,.143,.294,.143,.437,.227,23.1,-0.05,-0.01
285,김도환,삼성 라이온즈,C,-0.08,34,49,41,2,9,2,...,1,2,.220,.292,.268,.560,.262,46.4,-0.08,-0.32
293,김성표,삼성 라이온즈,CF,-0.10,15,8,8,1,1,0,...,0,0,.125,.125,.125,.250,.118,-47.9,-0.10,0.03
299,김민수,삼성 라이온즈,C,-0.12,17,26,23,3,4,0,...,1,0,.174,.240,.174,.414,.201,6.9,-0.12,-0.23
301,백승민,삼성 라이온즈,1B,-0.13,7,12,9,0,0,0,...,0,0,.000,.250,.000,.250,.188,-4.6,-0.13,0.02
307,박찬도,삼성 라이온즈,LF,-0.15,51,116,96,20,21,5,...,2,2,.219,.325,.302,.627,.292,64.6,-0.15,-0.62
329,김응민,삼성 라이온즈,C,-0.23,45,85,76,7,17,1,...,3,0,.224,.281,.237,.517,.245,35.4,-0.23,0.05
336,양우현,삼성 라이온즈,2B,-0.30,7,24,23,0,3,0,...,0,0,.130,.167,.130,.297,.148,-28.0,-0.30,-0.33
337,김헌곤,삼성 라이온즈,RF,-0.31,97,283,254,26,63,8,...,1,3,.248,.312,.315,.627,.295,67.3,-0.31,-1.15
342,박승규,삼성 라이온즈,RF,-0.35,91,196,182,24,47,11,...,4,0,.258,.297,.335,.632,.288,63.1,-0.35,-0.48
359,팔카,삼성 라이온즈,DH,-0.67,51,217,196,17,41,7,...,0,3,.209,.272,.367,.639,.288,59.7,-0.67,-0.64
366,박계범,삼성 라이온즈,SS,-0.92,80,175,164,21,32,7,...,3,1,.195,.227,.293,.519,.233,25.6,-0.92,-0.90
367,이성규,삼성 라이온즈,1B,-0.92,98,245,216,25,39,7,...,4,2,.181,.257,.361,.618,.274,50.1,-0.92,-1.73

In [35]:
df_SL_B["포지션"].value_counts()

C     5
LF    4
SS    4
3B    3
2B    3
1B    3
RF    3
CF    2
DH    2
Name: 포지션, dtype: int64

In [60]:
pd.DataFrame(df_SL_B.groupby(["포지션","WAR"])["이름"].sum())

             이름
포지션 WAR
1B  -0.92   이성규
    -0.13   백승민
     0.27   이성곤
2B  -0.30   양우현
     0.12   김지찬
     3.25   김상수
3B   0.50   최영진
     1.11   김호재
     1.27   이원석
C   -0.23   김응민
    -0.12   김민수
    -0.08   김도환
     0.02   권정웅
     3.00   강민호
CF  -0.10   김성표
     2.48   박해민
DH  -0.67    팔카
     2.21   김동엽
LF  -0.15   박찬도
     0.08   김성윤
     1.35  살라디노
     3.35   구자욱
RF  -0.35   박승규
    -0.31   김헌곤
     0.12   송준석
SS  -0.92   박계범
    -0.05   김재현
     0.35   이학주
     0.55   강한울

In [64]:
team_nc_df = df[df["팀"].str.contains("20N")]